<main>
<div class="slider">
        <div class="s1">
                <angular-image-slider [autoRotate]="true" [autoRotateAfter]="5000" [autoRotateRight]="true"
                    [images]="imagesUrl"></angular-image-slider>
        </div>
</div>
<div class="hola">
    <h3>¿Quienes somos?</h3>
    <p>ASPURC es la Obra Social del Personal de la Universidad Nacional de Río Cuarto y de Villa María. Creada en 1993, a partir de una iniciativa de la comunidad universitaria de la UNRC, ASPURC se constituyó como un ente dirigido por un Consejo Directivo conformado por miembros docentes y no docentes. En 1996, los trabajadores de la Universidad Nacional de Villa María se incorporan como afiliados.

        Regida por la Ley 24.741 de Obras Sociales Universitarias, ASPURC es un ente autárquico con personería jurídica propia y con autonomía administrativa y financiera; bajo la fiscalización del Consejo Superior de la Universidad, sin que ello implique foto VM1dependencia funcional.
        
        ASPURC, desde su creación hasta nuestros días, se ha consolidado como una entidad sin fines de lucro, sostenida y administrada por sus propios beneficiarios. La solidaridad, el trabajo conjunto y la transparencia, pensados como principios básicos, han intentado consolidarse como pautas de acción de la Obra Social.
        
        Los servicios brindados no sólo responden a la cobertura de prestaciones médicas. Su labor incluye también acciones tendientes a la promoción de la salud en la comunidad universitaria.
        
        La estructura administrativa de ASPURC funciona íntegramente en la ciudad de Río Cuarto, con una delegación en la ciudad de Villa María.</p>
</div>
<div class="articulo">
    <h3>Contacto</h3>
    <h5>Sede administrativa:</h5>
    <p>
        Vélez Sarsfield 448 – CP. 5800 – Río Cuarto (Córdoba)
        
        Tel (0358) 4768200 (lineas rotativas)
        Fax: (0358) 4650050 (Int. 105)
        Urgencias Administrativas: 4768222
        E-mail: info@aspurc.org.ar
        </p>
        <h5>Horario de atencion:</h5>
        <p>
        Lunes a Viernes de 8:00 a 16:00 hs.
</p>
</div>
</main>