    <div class="container">
    <h1>REGISTRO</h1>
    <form>
        <div class="row">
            <div class="col-25">
              <label for="idIngreso">ID de Ingreso</label>
            </div>
            <div class="col-75">
              <input type="number" id="idIngreso" name="id" placeholder="Tu ID de Ingreso..">
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="fpassword">Contraseña</label>
            </div>
            <div class="col-75">
              <input type="password" id="fpassword" name="password" placeholder="Tu contraseña..">
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="frpassword">Repita su contraseña</label>
            </div>
            <div class="col-75">
              <input type="password" id="frpassword" name="repassword" placeholder="Repepita su contraseña..">
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="fmail">Email</label>
            </div>
            <div class="col-75">
              <input type="email" id="fmail" name="email" placeholder="Tu email..">
            </div>
          </div>
    <div class="row">
      <div class="col-25">
        <label for="fname">Nombre</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="nombre" placeholder="Tu nombre..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname">Apellido</label>
      </div>
      <div class="col-75">
        <input type="text" id="lname" name="apellido" placeholder="Tu apellido..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="country">Country</label>
      </div>
      <div class="col-75">
        <select id="country" name="country">
          <option value="argentina">Argentina</option>
          <option value="peru">Peru</option>
          <option value="bolivia">Bolivia</option>
        </select>
      </div>
    </div>
    <div class="row">
        <div class="col-25">
          <label for="sexo">Sexo</label>
        </div>
        <div class="col-75">
            Hombre: <input type="radio" name="sex" /><br />
            Mujer: <input type="radio" name="sex" />
        </div>
      </div>
    <div class="row">
      <input type="submit" value="Enviar">

      <input type="button" value="Cancelar">
    </div>
  </form>
</div>
